.filter {
 &__query {
  align-items: center;
  background-color: #47597E;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: .5rem 0rem .5rem 0rem;
  padding: 0.5rem 0.3rem;
  &__icon {
   padding: .3rem .3rem;
  }
 }
}