@mixin input($type) {
	border-radius: 5px 0px 0px 5px;
	border: none;
	color: white;
	margin: 0;
 padding: 0 0 0 1rem;
 width: 100%;
	&::focus  {
		outline: none;
	}

	@if $type == ingredient {
		background-color: $blue;
		border-radius: 5px 0 0 5px;
		&::placeholder {
			color: white;
		}
	}

	@if $type == apparatus {
		background-color: $green;
		border-radius: 5px 0 0 5px;
		&::placeholder {
			color: white;
		}
	}

	@if $type == ustensils {
		background-color: $red;
		border-radius: 5px 0 0 5px;
		&::placeholder {
			color: white;
		}
	}

	@if $type == researchBar {
		background-color: $primaryGrey;
		color: black;
		&::placeholder {
			color: $secondaryGrey;
		}
	}
}

@mixin button($type) {
	border: none;
	margin: 0;
	padding: 0 1rem;
	box-sizing: border-box;
	color: white;

	@if $type == ingredient {
		background-color: $blue;
		border-radius: 0 5px 5px 0;
	}

	@if $type == apparatus {
		background-color: $green;
		border-radius: 0 5px 5px 0;
	}

	@if $type == ustensils {
		background-color: $red;
		border-radius: 0 5px 5px 0;
	}

	@if $type == research {
		background-color: $primaryGrey;
		border-radius: 0 5px 5px 0;
		color: black;
	}
}

@mixin form() {
	display: flex;
	height: 70px;
	width: 100%;
}

@mixin makeAGrid($columns, $rows, $gap) {
	align-items: center;
	display: grid;
	gap: $gap;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
	justify-content: center;
}
